* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  margin: 0;
  background-color: #def;
  min-width: var(--board-width);
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tile {
  transition: all 300ms;
  width: calc(var(--tile-size) * 1px);
  height: calc(var(--tile-size) * 1px);
  display: block;
  user-select: none;
}
button {
  border: 1px solid #000;
}
:root {
  --board-width: auto;
  --tile-size: 64;
  --center-bg: rgba(255, 255, 255, 0.2);
  --border-thick: 3;
  --border-thin: 1;
  --round-bg: rgba(255, 255, 255, 0.5);
  --round-size: 18;
  --round-font: 14px cursive;
}
table.board {
  border-collapse: collapse;
}
table.board td {
  position: relative;
  border: 1px solid transparent;
  padding: 0;
  --b-thick: calc(1px * var(--border-thick)) solid black;
  --b-thin: calc(1px * var(--border-thin)) solid black;
}
table.board td.signal::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 5px 5px lime;
}
table.board td .round {
  --size: calc(1px * var(--round-size));
  position: absolute;
  right: 0;
  top: 0;
  width: var(--size);
  height: var(--size);
  line-height: var(--size);
  background-color: var(--round-bg);
  text-align: center;
  font: var(--round-font);
}
table.board td.center {
  background-color: var(--center-bg);
  --suffix: inset red;
}
table.board td.center.left {
  box-shadow: 4px 0 1px -2px var(--suffix);
}
table.board td.center.right {
  box-shadow: -4px 0 1px -2px var(--suffix);
}
table.board td.center.top {
  box-shadow: 0 4px 1px -2px var(--suffix);
}
table.board td.center.bottom {
  box-shadow: 0 -4px 1px -2px var(--suffix);
}
table.board td.center.left.top {
  box-shadow: 2px 2px 1px var(--suffix);
}
table.board td.center.right.top {
  box-shadow: -2px 2px 1px var(--suffix);
}
table.board td.center.left.bottom {
  box-shadow: 2px -2px 1px var(--suffix);
}
table.board td.center.right.bottom {
  box-shadow: -2px -2px 1px var(--suffix);
}
table.board tr:not(:first-child):not(:last-child) td:not(:first-child):not(:last-child) {
  border: var(--b-thin);
}
table.board tr:first-child td:not(:first-child):not(:last-child) {
  border-bottom: var(--b-thick);
}
table.board tr:last-child td:not(:first-child):not(:last-child) {
  border-top: var(--b-thick);
}
table.board tr:not(:first-child):not(:last-child) td:first-child {
  border-right: var(--b-thick);
}
table.board tr:not(:first-child):not(:last-child) td:last-child {
  border-left: var(--b-thick);
}
table.board .dummy {
  width: calc(var(--tile-size) * 1px);
  height: calc(var(--tile-size) * 1px);
}
div.board {
  position: relative;
}
div.board canvas {
  display: block;
}
div.board .tile,
div.board .signal {
  position: absolute;
}
div.board .signal {
  width: calc(var(--tile-size) * 1px);
  height: calc(var(--tile-size) * 1px);
  box-shadow: inset 0 0 5px 5px lime;
}
.pool {
  display: flex;
  padding: 8px 0;
  border-bottom: 1px solid #000;
}
.pool .dice {
  border: 1px solid #000;
  border-radius: 6px;
  background-color: #fff;
}
.pool .dice.pending {
  box-shadow: inset 0 0 5px 5px lime;
}
.pool .dice.blocked {
  box-shadow: inset 0 0 5px 5px red;
}
.pool .dice.disabled {
  opacity: 0.5;
}
.pool .dice + .dice {
  margin-left: 8px;
}
.pool button {
  cursor: pointer;
  margin-left: 8px;
  width: calc(var(--tile-size) * 1px);
  height: calc(var(--tile-size) * 1px);
}
.score {
  border-collapse: collapse;
}
.score td:last-child {
  text-align: right;
  padding-left: 1ch;
}
.score tfoot td {
  border-top: 3px double #000;
  font-size: 120%;
}
.score tfoot td:last-child {
  font-weight: bold;
}
.menu {
  display: flex;
  padding: 8px 0;
  border-bottom: 1px solid #000;
  align-items: center;
  text-align: center;
}
.menu > * {
  --size: calc((var(--tile-size) + 2) * 1px);
  width: var(--size);
}
.menu > *:not(:first-child) {
  margin-left: 8px;
}
.menu button {
  font-weight: bold;
  height: var(--size);
}
footer {
  border-top: 1px solid #000;
}
footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}
footer li + li::before {
  content: "•";
  margin: 0 0.5em;
}
