* {
  box-sizing: border-box;
}
html {
  background-image: linear-gradient(135deg, #cde, #def);
  font-family: sans-serif;
  min-width: 600px;
}
body {
  margin: 0;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer {
  text-align: center;
  border-top: 1px solid #000;
  padding: 8px 0;
}
.tile {
  transition: all 300ms;
  width: calc(var(--cell-size) * 1px);
  height: calc(var(--cell-size) * 1px);
  display: block;
  user-select: none;
}
button {
  border: 1px solid #000;
}
table.board {
  border-collapse: collapse;
}
table.board td {
  position: relative;
  border: 1px solid transparent;
  padding: 0;
  --border-strong: 3px solid black;
  --border-normal: 1px solid black;
}
table.board td.signal::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 5px 5px lime;
}
table.board td .round {
  --size: 18px;
  position: absolute;
  right: 0;
  top: 0;
  width: var(--size);
  height: var(--size);
  line-height: var(--size);
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-family: cursive;
  font-size: 14px;
}
table.board td.center {
  --suffix: inset red;
  background-color: rgba(255, 255, 255, 0.2);
}
table.board td.center.left {
  box-shadow: 4px 0 1px -2px var(--suffix);
}
table.board td.center.right {
  box-shadow: -4px 0 1px -2px var(--suffix);
}
table.board td.center.top {
  box-shadow: 0 4px 1px -2px var(--suffix);
}
table.board td.center.bottom {
  box-shadow: 0 -4px 1px -2px var(--suffix);
}
table.board td.center.left.top {
  box-shadow: 2px 2px 1px var(--suffix);
}
table.board td.center.right.top {
  box-shadow: -2px 2px 1px var(--suffix);
}
table.board td.center.left.bottom {
  box-shadow: 2px -2px 1px var(--suffix);
}
table.board td.center.right.bottom {
  box-shadow: -2px -2px 1px var(--suffix);
}
table.board tr:not(:first-child):not(:last-child) td:not(:first-child):not(:last-child) {
  border: var(--border-normal);
}
table.board tr:first-child td:not(:first-child):not(:last-child) {
  border-bottom: var(--border-strong);
}
table.board tr:last-child td:not(:first-child):not(:last-child) {
  border-top: var(--border-strong);
}
table.board tr:not(:first-child):not(:last-child) td:first-child {
  border-right: var(--border-strong);
}
table.board tr:not(:first-child):not(:last-child) td:last-child {
  border-left: var(--border-strong);
}
table.board .dummy {
  width: calc(var(--cell-size) * 1px);
  height: calc(var(--cell-size) * 1px);
}
div.board {
  position: relative;
}
div.board .tile {
  position: absolute;
}
.pool {
  display: flex;
  padding: 8px 0;
  border-bottom: 1px solid #000;
}
.pool .dice {
  border: 1px solid #000;
  border-radius: 6px;
  background-color: #fff;
}
.pool .dice.pending {
  box-shadow: inset 0 0 5px 5px lime;
}
.pool .dice.blocked {
  box-shadow: inset 0 0 5px 5px red;
}
.pool .dice.disabled {
  opacity: 0.5;
}
.pool .dice + .dice {
  margin-left: 8px;
}
.pool button {
  cursor: pointer;
  margin-left: 8px;
  width: calc(var(--cell-size) * 1px);
  height: calc(var(--cell-size) * 1px);
}
.score {
  border-collapse: collapse;
}
.score td:last-child {
  text-align: right;
  padding-left: 1ch;
}
.score tfoot td {
  border-top: 3px double #000;
  font-size: 120%;
}
.score tfoot td:last-child {
  font-weight: bold;
}
.menu {
  display: flex;
  padding: 8px 0;
  border-bottom: 1px solid #000;
  align-items: center;
  text-align: center;
}
.menu > * {
  --size: calc((var(--cell-size) + 2) * 1px);
  width: var(--size);
}
.menu > *:not(:first-child) {
  margin-left: 8px;
}
.menu button {
  font-weight: bold;
  height: var(--size);
}
