* { box-sizing: border-box; }

body {
	margin: 0;
	background-image: linear-gradient(135deg, #cde, #def);
	display: flex;
	flex-direction: column;
	align-items: center;
}

@import "board.less";
@import "pool.less";
@import "score.less";

.tile {
	transition: all 300ms;
	width: calc(var(--cell-size) * 1px);
	height: calc(var(--cell-size) * 1px);
	display: block;
}

