* { box-sizing: border-box; }

body {
	font-family: sans-serif;
	margin: 0;
	background-color: #def;
	min-width: var(--board-width);
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.tile {
	transition: all 300ms;
	width: calc(var(--tile-size) * 1px);
	height: calc(var(--tile-size) * 1px);
	display: block;
	user-select: none;
}

button {
	border: 1px solid #000;
}

.-signal(@color) {
	box-shadow: inset 0 0 5px 5px @color;
}

@import "variables.less";
@import "board.less";
@import "pool.less";
@import "score.less";
@import "menu.less";
@import "footer.less";
