#outro {
	min-width: var(--board-width);
	max-width: 100%;
	overflow-x: auto;

	.-menu;

	.score {
		border-collapse: collapse;
		white-space: nowrap;
		margin: auto;

		thead td {
			&.active {
				font-weight: bold;
			}
			&:not(.active) {
				text-decoration: underline;
				cursor: pointer;
			}
		}

		td:not(:first-child) {
			text-align: right;
			padding-left: 1ch;
		}

		tfoot td {
			border-top: 3px double #000;
			font-size: 120%;

			&.best { font-weight: bold; }
		}
	}
}
