.pool {
	display: flex;
	padding: 8px 0;
	border-bottom: 1px solid #000;

	.dice {
		border: 1px solid #000;
		border-radius: 6px;
		background-color: #fff;

		&.signal {
			box-shadow: inset 0 0 5px 5px lime;
		}

		&.disabled {
			opacity: 0.5;
		}

		+ .dice { margin-left: 8px; }
	}

	button {
		margin-left: auto;
	}
}
