.score {
	border-collapse: collapse;

	td:last-child {
		text-align: right;
		padding-left: 1ch;
	}

	tfoot td {
		border-top: 3px double #000;
		font-size: 120%;

		&:last-child { font-weight: bold; }
	}
}
